.a-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 780px;
}

.a-award .award-list::-webkit-scrollbar {
    display: none;
}

.svg-hide{
    opacity: 0.6;
}

.award-list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /* scroll-behavior: smooth; */
    max-width: 780px;
    overflow: hidden;
}