.award {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 780px;        
}

.award-img {
    margin-left: 15px;
    width: 240px;
    height: 180px;
    border-radius: 20px;
}

.award-texts {
    margin: 0px 15px 0px 15px;
    /* width: 60%; */
}

.award-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.award-svg {
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin: 10px;
}

.fadein-next {
    animation: fadein-next 1s;
}

@keyframes fadein-next {
    0% {
        opacity: 0;   
        transform: translateX(20%);             
    }

    100% {
        opacity: 1;        
        transform: translateX(0%);        
    }
}

.fadein-previous {
    animation: fadein-previous 1s;
}

@keyframes fadein-previous {
    0% {
        opacity: 0;   
        transform: translateX(-30px);             
    }

    100% {
        opacity: 1;        
        transform: translateX(0px);        
    }
}