.c {
  height: 100vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #301e64;
  position: absolute;
}

.c-wrapper {
  display: flex;
  margin: 40px;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  width: 70%;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-desc{  
  font-size: 20px;
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  background-color: black;
}

input::placeholder {
  color: #fff;
}

textarea {
  color: #fff;
  background-color: black;
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button{
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #301e64;
  color: #fff;
  font-weight: 350;
  font-size: 18px;
  cursor: pointer;
}