@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Source+Code+Pro:wght@300;400&display=swap");

body {  
  font-family: "Poppins", sans-serif;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}
.i {
  display: flex;
  height: 100vh;
}
.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-left-wrapper {
  width: 100%;
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}
.i-intro {
  font-size: 30px;
  font-weight: 300;
}
.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}
.i-title-item {
  font-size: 30px;
  height: 50px;
  font-weight: bold;
  color: #301e64;
  display: flex;
  align-items: center;
}
.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.i-bg {
  clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #301e64;
  /* background-color: #E3E3E3; */
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  object-fit: cover;
  position: absolute;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100%;
  }
  
  .i-desc {
    display: none;
  }
}
